<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>
		<table>
		<strong>current users :</strong> <h4  style="font-size: 40px;"><%= @users.count %></h4>
	<strong>current entrances :</strong> <h4  style="font-size: 40px;"><%= $redis.get "entrances_counter" %></h4>
	<strong>current statuses :</strong></br> <h4  class="visible-tablet" style="font-size: 40px;"><%= @statuses.count %></h4>
	</table> 
	<div class="visible-phone">
	</div>
</body>
</html>