<p>
  <a><%= @status.user_id %></a>
</p>

<p>
  <b>Context:</b>
  <%= @status.context %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%#= link_to('delete', destroy_status_path, :method => :delete) %> |
<%= link_to 'Back', statuses_path %>
